.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    height: 100vh;
  
  }
  
  .form-wrapper {
    max-width: 300px; 
    margin-left: 100px; 
    padding: 2rem;
  }
  
  h2 {
    font-size: 32px;
    font-weight: 700 !important;
    margin-bottom: 1.5rem;
    color: #333;
     font-family: 'Noto Sans'
  }
  .password{
    margin-top: 20px;
  }
  .image{
    height:28rem;
    width: 28rem;
  }
  
  .small-input {
    margin-top: 2px;
    border-radius: 0px !important;
  }
  
  .signin-btn {
    font-size: 0.9rem; 
    padding: 0.5rem;
    border: 2px solid #000;  
    background-color: #000;  
    color: #fff; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-radius: 0px !important;
  }
  
  .signin-btn:hover {
    background-color: #333;  
    border-color: #333;
  }
  
  .form-check-label {
    font-size: 0.85rem;
  }
  
  a {
    font-size: 0.85rem;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .text-center p {
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: #666; 
  }
  
  button {
    font-size: 1.25rem;
    border: 2px solid #000;
    padding: 0.5rem 1rem;
    background-color: transparent;
  }
  
  button svg {
    font-size: 1.5rem;  
  }
  
  .form-wrapper .text-center {
    margin-top: 1.5rem;
  }
  
  .d-flex .btn {
    padding: 0.5rem;
    font-size: 0.75rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .c-flex {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .d-flex .btn:hover {
    background-color: #f0f0f0; 
  }
  
  .col-md-6 img {
    max-width: 100%;
    height: auto;
  }
  