.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px
}

button svg {
  font-size: 1.5rem;  
}

.d-flex .btn {
  padding: 10px;
  font-size: 1.25rem;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-placeholder {
  width: 100%;
  height: 250px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-container {
  background-color: #f8f9fa;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filter a {
  margin-left: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.slider-content img {
  width: 100%;
  height: auto;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.country-card {
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.country-card img {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

.country-card p {
  font-weight: bold;
}

.load-more-btn {
  width: 200px;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
